/* Basic styles for the full viewport and the parallax container */
body, html {
    height: 100%;
    margin: 0;
    background-color: black;
    overflow: hidden;
}

#parallaxContainer {
    position: relative;
    width: 100%;  /* Ensures the container is as wide as the viewport */
    height: auto; /* Adjusts the height based on the content */
}

#parallaxContainer > * {
    will-change: transform; /* Optimizes transformations */
    position: absolute; /* Positions all images absolutely within the container */
}

#canvas_12 {
    top: 0;  /* Aligns images to the top of the container */
    left: 0; /* Aligns images to the left of the container */
    width: 100%; /* Full width to stretch images */
    height: auto; /* Height adjusts automatically */
    opacity: 0;
}

#skyscape_11 {
    top: 0;  /* Aligns images to the top of the container */
    left: 0; /* Aligns images to the left of the container */
    width: 100%; /* Full width to stretch images */
    height: 55%; /* Height adjusts automatically */
}

#mountain-valley_09 {
    top: 0;  /* Aligns images to the top of the container */
    left: 0; /* Aligns images to the left of the container */
    width: 100%; /* Full width to stretch images */
    height: 100%; /* Height adjusts automatically */
}

#mountainscape-far_10 {
    top: 30%;
    left: 25.6%;
    width: 58%;
    height: 29%;
}

#anomaly_08 {
    top: 47.5%;
    left: 31.9%;
    width: 1.6%;
    height: 2.8%;
}

#coal-mountain_07 {
    top: 45.5%;
    left: 37.5%;
    height: 17%;
    width: 31.4%;
}

#factory_06 {
    top: 33.8%;
    left: 45.9%;
    height: 19.5%;
    width: 21.15%;
}

#smoke_05 {
    top: 0;
    left: 50%;
    height: 35.2%;
    width: 30.4%;
}

#mountain-tree-foreground-L_03, #mountain-foreground-R_04 {
    max-height: 100%;  /* This will limit the height to not exceed the viewport height */
    width: auto;  /* Maintain the natural aspect ratio of the image */
    object-fit: contain;  /* Ensures the whole image is visible without distortion */
}

#mountain-tree-foreground-L_03 {
    left: 0;  /* Align this image to the left side of the container */
    top: 0;  /* Start at the middle of the container vertically */
    /*transform: translateY(-50%);   Offset by half its height to center it vertically */
}

#mountain-foreground-R_04 {
    right: 0;  /* Align this image to the right side of the container */
    top: 0;  /* Start at the middle of the container vertically */
    /*transform: translateY(-50%);   Offset by half its height to center it vertically */
}

#hero-rock_01 {
    left: 33%;
    bottom: 0;
    height: 45%;
    width: 43%;
}

#logo_02 {
    right: 2%;
    bottom: 2%;
    height: 23%;
    width: 12.1%;
}
